@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&display=swap');
@layer base{
  *{
    font-family: Staatliches, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  .app{
    background: linear-gradient(55deg, rgba(55,86,106,1) 3%, rgba(34,38,42,1) 16%);
    word-spacing: .3rem;
  }

  h1{
    @apply text-white 
  }
  h2{
    @apply text-secondary 
  }

  .cta{
    box-shadow: inset 0 0 0 0 rgba(148, 164, 180, 0.8);
    transition: ease-out .5s;
  }

  .cta:hover{
    cursor: pointer;
    box-shadow: inset 250px 0 0 0.9px rgba(148, 164, 180, 0.8);
  
  }

  .cta2{
    box-shadow: inset 0 0 0 0 #be123c;
    transition: ease-out .9s;
  }
  
  .cta2:hover{
    cursor: pointer;
    box-shadow: inset 250px 0 0 0.9px #be123c;
  }

  .card{
    box-shadow: 10px 10px 10px black;
  }

}