@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&display=swap');

* {
  font-family: Staatliches, sans-serif;
}

/* media query targetting screen-scale 150% */
@media (-webkit-device-pixel-ratio: 1.5) {
  .appContainer {
    zoom: 0.6;
    max-width: 65%;
  }
}

/* media query targetting screen-scale 125% */
@media (-webkit-device-pixel-ratio: 1.25) {
  .appContainer {
    zoom: 0.8;
    max-width: 75%;
  }
}
